<settings>
  <!-- the path to the local repository - defaults to ~/.m2/repository
  -->
  <!-- <localRepository>/path/to/local/repo</localRepository>
  -->

  <servers>
    <server>
      <id>nexus-release-repository</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>
</settings>
